<div class="mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h2 class="text-center text-primary">{{'dataComponent.title' | translate}}</h2>
      <hr>
      <form [formGroup]="form">

        <div class="form-group">
          <input type="text" [ngClass]="{'is-invalid': hasError('name')}" class="form-control" formControlName="name"
                 placeholder="{{'dataComponent.placeholders.namePlaceholder' | translate}}">
          <div *ngIf="hasError('name')" class="invalid-feedback">
            <div *ngIf="getControl('name').hasError('customError')">
              {{'dataComponent.errors.name.incorrectNameError' | translate}}
            </div>
            <div *ngIf="getControl('name').hasError('required')">
              {{'dataComponent.errors.name.nameIsRequiredError' | translate}}
            </div>
            <div *ngIf="getControl('name').hasError('minlength')">
              {{'dataComponent.errors.name.nameMinLengthError' | translate}}
            </div>
            <div *ngIf="getControl('name').hasError('maxlength')">
              {{'dataComponent.errors.name.nameMaxLengthError' | translate}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" [ngClass]="{'is-invalid': hasError('surname')}" class="form-control" formControlName="surname"
                 placeholder="{{'dataComponent.placeholders.surnamePlaceholder' | translate}}">
          <div *ngIf="hasError('surname')" class="invalid-feedback">
            <div *ngIf="getControl('surname').hasError('customError')">
              {{'dataComponent.errors.surname.incorrectSurnameError' | translate}}
            </div>
            <div *ngIf="getControl('surname').hasError('required')">
              {{'dataComponent.errors.surname.surnameIsRequiredError' | translate}}
            </div>
            <div *ngIf="getControl('surname').hasError('minlength')">
              {{'dataComponent.errors.surname.surnameMinLengthError' | translate}}
            </div>
            <div *ngIf="getControl('surname').hasError('maxlength')">
              {{'dataComponent.errors.surname.surnameMaxLengthError' | translate}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row" formGroupName="age">
            <div class="col">
              <input type="number" [ngClass]="{'is-invalid': hasError('age.years')}" class="form-control" formControlName="years"
                     placeholder="{{'dataComponent.placeholders.agePlaceholder' | translate}}" min="{{this.minAge}}" max="{{this.maxAge}}">
              <div *ngIf="hasError('age.years')" class="invalid-feedback">
                <div *ngIf="getControl('age.years').hasError('required')">
                  {{'dataComponent.errors.years.ageIsRequiredError' | translate}}
                </div>
                <div *ngIf="getControl('age.years').hasError('min')">
                  {{'dataComponent.errors.years.ageMinError' | translate}}
                </div>
                <div *ngIf="getControl('age.years').hasError('max')">
                  {{'dataComponent.errors.years.ageMaxError' | translate}}
                </div>
              </div>
            </div>

            <div class="col">
              <input type="number" [ngClass]="{'is-invalid': hasError('age.months')}" class="form-control" formControlName="months"
                     placeholder="{{'dataComponent.placeholders.monthsPlaceholder' | translate}}" min="{{this.minMonths}}" max="{{this.maxMonths}}">
              <div *ngIf="hasError('age.months')" class="invalid-feedback">
                <div
                  *ngIf="getControl('age.months').hasError('required')">
                  {{'dataComponent.errors.months.monthsAreRequiredError' | translate}}
                </div>
                <div *ngIf="getControl('age.months').hasError('min')">
                  {{'dataComponent.errors.months.monthsMinError' | translate}}
                </div>
                <div *ngIf="getControl('age.months').hasError('max')">
                  {{'dataComponent.errors.months.monthsMaxError' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" [ngClass]="{'is-invalid': hasError('email')}" class="form-control" formControlName="email"
                 placeholder="{{'dataComponent.placeholders.emailPlaceholder' | translate}}">
          <div *ngIf="hasError('email')" class="invalid-feedback">
            <div *ngIf="getControl('email').hasError('customError')">
              {{'dataComponent.errors.email.incorrectEmailError' | translate}}
            </div>
            <div *ngIf="getControl('email').hasError('required')">
              {{'dataComponent.errors.email.emailIsRequiredError' | translate}}
            </div>
          </div>
        </div>

        <div class="form-group">
          <input type="tel" [ngClass]="{'is-invalid': hasError('phone')}" class="form-control" formControlName="phone"
                 placeholder="{{'dataComponent.placeholders.phonePlaceholder' | translate}}">
          <div *ngIf="hasError('phone')" class="invalid-feedback">
            <div *ngIf="getControl('phone').hasError('customError')">
              {{'dataComponent.errors.phone.incorrectPhoneError' | translate}}
            </div>
            <div *ngIf="getControl('phone').hasError('required')">
              {{'dataComponent.errors.phone.phoneIsRequiredError' | translate}}
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
