<div nz-menu nzMode="vertical" class="menu ml-0">
  <nz-card *ngIf="apiResult" class="custom-padding">

    <div class="col-12 mx-auto mt-3">
      <h3 class="text-center text-primary">Settings</h3>

      <hr>

      <div class="d-flex justify-content-center">
        <nz-pagination
          [(nzPageIndex)]="currentPage"
          [nzTotal]="apiResult.totalCount"
          [nzPageSize]="apiResult.pageSize"
          [nzSize]="'small'"
          (nzPageIndexChange)="onPageIndexChanged($event)">
        </nz-pagination>
      </div>

      <hr *ngIf="this.apiResult.data?.length">

      <div>
        <p>
          Total records: {{apiResult.totalCount}}
        </p>
        <p>
          Total pages: {{apiResult.totalPages}}
        </p>
        <p>
          Records/page: {{apiResult.pageSize}}
        </p>
        <p *ngIf="apiResult.whereStatements">
          Where:
          <span *ngFor="let statement of apiResult.whereStatements">
            {{statement.column}} == {{statement.value}}
          </span>
        </p>
        <p>
          Sort Columns: {{apiResult.sortColumns}}
        </p>
        <p>
          Sort Order: {{apiResult.sortOrder}}
        </p>
        <p>
          Page index: {{currentPage}}
        </p>
      </div>

      <hr>

    </div>

    <div class="time-picker row col-12 mx-auto mb-3">
      <nz-calendar
        (nzSelectChange)="onDatePicked($event)"
        [nzFullscreen]="false"
        [(ngModel)]="currentDate"
      >
      </nz-calendar>
    </div>

    <div class="mb-2 row">

      <nz-select
        class="left-select col p-0"
        nzMode="multiple"
        nzPlaceHolder="Sort by"
        [(ngModel)]="sortColumns"
        (ngModelChange)="settingsChanged()"
      >
        <nz-option nzLabel="Date" nzValue="date"></nz-option>
        <nz-option nzLabel="Time" nzValue="time"></nz-option>
      </nz-select>

      <nz-select
        class="col p-0 mx-2"
        nzAllowClear
        [nzShowArrow]="false"
        nzPlaceHolder="Sort order"
        [(ngModel)]="sortOrder"
        (ngModelChange)="settingsChanged()"
      >
        <nz-option nzLabel="ASC" nzValue="asc"></nz-option>
        <nz-option nzLabel="DESC" nzValue="desc"></nz-option>
      </nz-select>

      <nz-select
        class="right-select col p-0"
        nzAllowClear
        [nzShowArrow]="false"
        nzPlaceHolder="Items / page"
        [(ngModel)]="pageSize"
        (ngModelChange)="settingsChanged()"
      >
        <nz-option nzLabel="5" nzValue="5"></nz-option>
        <nz-option nzLabel="10" nzValue="10"></nz-option>
        <nz-option nzLabel="20" nzValue="20"></nz-option>
        <nz-option nzLabel="30" nzValue="30"></nz-option>
      </nz-select>

    </div>

    <div class="d-flex justify-content-center my-2">

      <button
        nz-tooltip
        nzTooltipTitle="reset settings"
        nzTooltipPlacement="right"
        nz-button nzType="danger"
        nzShape="circle"
        (click)="resetBtnPressed()"
      >
        <i nz-icon nzType="stop" nzTheme="outline"></i>
      </button>
    </div>


    <div class="d-flex justify-content-center mb-3">
      <nz-pagination
        [(nzPageIndex)]="currentPage"
        [nzTotal]="apiResult.totalCount"
        [nzPageSize]="apiResult.pageSize"
        [nzSize]="'small'"
        (nzPageIndexChange)="onPageIndexChanged($event)">
      </nz-pagination>
    </div>
  </nz-card>
</div>
