<app-nav>  <app-timer></app-timer></app-nav>
<ngx-spinner
  [name]="'mainClientSpinner'"
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-loader"
  [fullScreen]="true"
  >
</ngx-spinner>
<div class="container mt-5">
  <app-steps></app-steps>
  <div class="mt-4 mx-auto">
    <nz-card [nzActions]="[actionSetting]">
      <router-outlet></router-outlet>
    </nz-card>
    <ng-template #actionSetting>
      <app-step-control></app-step-control>
    </ng-template>
  </div>
</div>
