<div *ngIf="apiResult?.data?.length; else noContent">
  <!--  ToDo: create resolver and remove that-->
  <nz-card
    class="mb-2"
    *ngFor="let record of apiResult?.data"
    [ngClass]="record.status === 'accepted' ? 'accepted' : 'new'"
  >
    <div class="row">
      <div class="col-6 text-left">
        <h5 class="text-primary">{{record.time | ticks | date: 'HH:mm'}}</h5>
      </div>
      <div class="col-6 text-right">
        <h6 class="text-primary">{{record.date | date : ' dd.MM.yyyy'}}</h6>
      </div>
    </div>
    <div class="row">

      <div class="custom-mr-b col-sm-6 col-md-8 d-flex align-items-end">
        {{record.client.name}}
        {{record.client.surname}}
        {{record.client.age}}
        {{record.client.months}} y.
        {{record.client.email}}
        +{{record.client.phone}}
      </div>

      <div class="col-sm-6 col-md-4 d-flex justify-content-end align-items-end">

        <button nz-button nzType="primary" nzDanger class="mr-1">Delete</button>
        <nz-spin [nzSpinning]="isLoaderOn(record.recordId)">

          <button
            nz-button
            nzType="primary"
            (click)="onAcceptBtnPress(record.recordId)"
            [disabled]="record.status === 'accepted'"
          >Accept
          </button>
        </nz-spin>
      </div>
    </div>
  </nz-card>
</div>

<ng-template #noContent>
  <nz-empty nzNotFoundImage="simple" nzNotFoundContent=""></nz-empty>
</ng-template>
