<div class="mt-3">
  <div class="row justify-content-center">
    <div class="col-12 mb-3">
      <h2 class="text-center text-primary">Check data</h2>
    </div>
    <div class="col-sm-12 col-md-6 mb-3">
      <nz-card nzTitle="Date and time" [nzExtra]="dateTimeEditTemplate">
        <p>
          Date:&nbsp;
          <span>{{dateTime.date | date:'dd.MM.y'}}</span>
        </p>
        <p>
          Time:&nbsp;
          <span>{{dateTime.time | ticks | date: 'HH:mm'}}</span>
        </p>
      </nz-card>
      <ng-template #dateTimeEditTemplate>
        <a (click)="dateTimeEditBtnPressed()">Edit</a>
      </ng-template>
    </div>
    <div class="col-sm-12 col-md-6">
      <nz-card nzTitle="Client" [nzExtra]="clientEditTemplate">
        <p>
          Name:&nbsp;
          <span>{{client.name}}</span>
        </p>
        <p>
          Surname:&nbsp;
          <span>{{client.surname}}</span>
        </p>
        <p>
          Years:&nbsp;
          <span>{{client.age}}</span>
        </p>
        <p *ngIf="client.months">
          Months:&nbsp;
          <span>{{client.months}}</span>
        </p>
        <p>
          Email:&nbsp;
          <span>{{client.email}}</span>
        </p>
        <p>
          Phone:&nbsp;
          <span>{{client.phone}}</span>
        </p>
      </nz-card>
      <ng-template #clientEditTemplate>
        <a (click)="clientEditBtnPressed()">Edit</a>
      </ng-template>
    </div>
  </div>
</div>
