.navbar-brand-wrapper {
  height: 55px;
  img {
    height: 100%;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  #logo {
    display: none;
  }
}

@media (min-width: 767px) {
  #small_logo {
    display: none;
  }
}
