<div class="time-picker col-4">
  <div class="time-picker-buttons">
    <button
      nz-button
      nzType="default"
      (click)="prevMonth()">
      <i nz-icon nzType="double-left"></i>
    </button>
    <button
      nz-button
      nzType="default"
      (click)="prevDay()">
      <i nz-icon nzType="left"></i>
    </button>
    <span>{{this.currentDate | date : ' dd-MM-yyyy'}}</span>
    <button
      nz-button
      nzType="default"
      (click)="nextDay()">
      <i nz-icon nzType="right"></i>
    </button>
    <button
      nz-button
      nzType="default"
      [disabled]="false"
      (click)="nextMonth()">
      <i nz-icon nzType="double-right"></i>
    </button>
  </div>
  <nz-calendar
    *ngIf="availableDates.length"
    [(ngModel)]="this.currentDate"
    [nzDisabledDate]="disabledDate"
    [nzFullscreen]="false"
  >
  </nz-calendar>
</div>

<nz-radio-group class="time-buttons offset-1 col-4 row" [(ngModel)]="radioValue" nzButtonStyle="solid" *ngIf="availableTimes.length; else
loader">
  <div [ngSwitch]="time.status" class="time-button-wrapper col-4 mb-3"
       *ngFor="let time of availableTimes">
    <label nz-radio-button
           *ngSwitchCase="'Expired' || 'Taken'"
           nzTooltipTitle="This time is already taken" nzTooltipPlacement="top" nz-tooltip
           class="time-button label taken"
           [nzDisabled]="true"
           [nzValue]="time">
      {{time.time}}
    </label>
    <label nz-radio-button
           *ngSwitchCase="'InProcess'"
           nzTooltipTitle="Somebody is trying to book this time" nzTooltipPlacement="top" nz-tooltip
           class="time-button label inProcess"
           [nzDisabled]="true"
           [nzValue]="time">
      {{time.time}}
    </label>
    <label nz-radio-button
           *ngSwitchDefault
           class="time-button label"
           [nzValue]="time">
      {{time.time}}
    </label>
  </div>
</nz-radio-group>
<ng-template #loader>
  <button nz-button nzType="default" nzLoading><i nz-icon nzType="poweroff"></i>Loading...</button>
</ng-template>
