<form [formGroup]="adultRegisterForm" (ngSubmit)="this.register()">

    <div class="form-group">
        <input type="text" [ngClass]="{'is-invalid': adultRegisterForm.controls.name.errors 
            && adultRegisterForm.controls.name.touched}" class="form-control" formControlName="name" placeholder="Name">
        <div *ngIf="adultRegisterForm.controls.name.errors?.customError && adultRegisterForm.controls.name.touched" 
            class="invalid-feedback">
                {{adultRegisterForm.controls.name.errors?.customError.errorMsg}}
        </div>
        <div *ngIf="adultRegisterForm.controls.name.hasError('required') && adultRegisterForm.controls.name.touched" 
            class="invalid-feedback">
                Name is required
        </div> 
        <div *ngIf="adultRegisterForm.controls.name.hasError('minlength') && adultRegisterForm.controls.name.touched" 
            class="invalid-feedback">
                Name must be at least 2 characters
        </div>
        <div *ngIf="adultRegisterForm.controls.name.hasError('maxlength') && adultRegisterForm.controls.name.touched" 
            class="invalid-feedback">
                Name cannot exceed 15 characters
        </div> 
    </div>
  
    <div class="form-group">
        <input type="text" [ngClass]="{'is-invalid': adultRegisterForm.controls.surname.errors
            && adultRegisterForm.controls.surname.touched}" class="form-control" formControlName="surname" placeholder="Surname">
        <div *ngIf="adultRegisterForm.controls.surname.errors?.customError" class="invalid-feedback">
            {{adultRegisterForm.controls.surname.errors?.customError.errorMsg}}
        </div>
        <div *ngIf="adultRegisterForm.controls.surname.hasError('required') && adultRegisterForm.controls.surname.touched" 
            class="invalid-feedback">
                Surname is required
        </div> 
        <div *ngIf="adultRegisterForm.controls.surname.hasError('minlength') && adultRegisterForm.controls.surname.touched" 
            class="invalid-feedback">
                Surname must be at least 2 characters
        </div>
        <div *ngIf="adultRegisterForm.controls.surname.hasError('maxlength') && adultRegisterForm.controls.surname.touched" 
            class="invalid-feedback">
                Surname cannot exceed 15 characters
        </div> 
    </div>

    <div class="form-group">
        <input type="number" [ngClass]="{'is-invalid': adultRegisterForm.controls.age.errors
            && adultRegisterForm.controls.age.touched}" class="form-control" formControlName="age" placeholder="Age">
        <div *ngIf="adultRegisterForm.controls.age.hasError('required') && adultRegisterForm.controls.age.touched" 
            class="invalid-feedback">
                Age is required
        </div>
        <div *ngIf="adultRegisterForm.controls.age.hasError('min') && adultRegisterForm.controls.age.touched" 
            class="invalid-feedback">
                Please select child option instead of "myself"
        </div>
        <div *ngIf="adultRegisterForm.controls.age.hasError('max') && adultRegisterForm.controls.age.touched" 
            class="invalid-feedback">
                Choose your real age
        </div>
    </div>

    <div class="form-group">
        <input type="text" [ngClass]="{'is-invalid': adultRegisterForm.controls.email.errors
            && adultRegisterForm.controls.email.touched}" class="form-control" formControlName="email" placeholder="Email">
        <div *ngIf="adultRegisterForm.controls.email.errors?.customError && adultRegisterForm.controls.email.touched"
            class="invalid-feedback">
                {{adultRegisterForm.controls.email.errors?.customError.errorMsg}}
        </div>
        <div *ngIf="adultRegisterForm.controls.email.hasError('required') && adultRegisterForm.controls.email.touched" 
            class="invalid-feedback">
                Email is required
        </div>
    </div>

    <div class="form-group">
        <input type="tel" [ngClass]="{'is-invalid': adultRegisterForm.controls.phone.errors 
            && adultRegisterForm.controls.phone.touched}" class="form-control" formControlName="phone" placeholder="Phone">
        <div *ngIf="adultRegisterForm.controls.phone.errors?.customError && adultRegisterForm.controls.phone.touched"
            class="invalid-feedback">
                {{adultRegisterForm.controls.phone.errors?.customError.errorMsg}}
        </div>
        <div *ngIf="adultRegisterForm.controls.phone.hasError('required') && adultRegisterForm.controls.phone.touched" 
            class="invalid-feedback">
                Phone is required
        </div>
    </div>

  <div class="form-group text-center">
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

<div class="fixed-bottom">
{{this.adultRegisterForm.value | json}}
{{this.adultRegisterForm.errors | json}}
{{this.adultRegisterForm.status | json}}
</div>