:root {
  --vertical-offset: 0px;
  --height: 100vh -71px;
}

::-webkit-scrollbar {
  display: none;
}

.sidebar {

  &.ant-layout-sider-zero-width {
    .settings-wrapper {
      display: none;
    }
  }

  .settings-wrapper {
    position: fixed;
    margin-top: var(--vertical-offset);
    height: var(--height);
    width: 340px;
    // overflow-y: scroll;
    overflow-x: hidden;

    //&.scroll-visible::-webkit-scrollbar {
    //  opacity: 0;
    //}
  }
}

.inner-content {
  background: #fff;
}

.menu-hide-icon {
  display: none;
  position: fixed;
  top: 87px;
  left: 322px;
  z-index: 1030;
  padding: 5px 8px;
  background-color: white;
  border: 1px solid #f0f0f0;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s;
  transition-timing-function: ease;

  &.collapsed {
    left: 0;
  }
}

nz-layout {
  background: #fff;
}

@media (max-width: 340px) {
  :host {
    nz-layout.layout {
      nz-sider.sidebar:not(.ant-layout-sider-zero-width) {
        flex: 0 0 320px !important;
        max-width: 320px !important;
        min-width: 320px !important;
        width: 320px !important;

        .settings-wrapper {
          width: 320px;
        }

        ::ng-deep nz-card {
          width: 320px;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .menu-hide-icon {
    left: 0;
  }
}

@media (max-width: 992px) {
  nz-content {
    position: relative;

    .dark-mask {
      opacity: 0;
      transition: all 0.5s;
      transition-timing-function: ease;
      background: url('/assets/mask.jpg');
    }

    .dark-mask.active {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1000;
    }
  }

  .menu-hide-icon {
    display: block;
  }
}

@media (max-width: 730px) {
  nz-content {
    .dark-mask.active {
      opacity: 1;
    }
  }
}
