<div class="mt-3">
  <div class="row">
    <div class="mx-auto">
      <h2 class="text-primary">Remember</h2>
    </div>
    <nz-divider nzText="Passport" nzOrientation="left"></nz-divider>
    <div class="col text-left">
      <p>
        Please bring your passport with you. It is necessary for registration of documents and prescription.
      </p>
    </div>
    <nz-divider nzText="Sunglasses" nzOrientation="right"></nz-divider>
    <div class="col text-right">
      You may also need sunglasses for your convenience, as you may have dilated pupils. A cap will also do.
    </div>
    <nz-divider nzText="Agree" nzOrientation="left"></nz-divider>
    <div class="col text-left">
      By clicking next, you agree that you have read and agree to the <a href="https://vimpa.by/">terms</a> of service.
    </div>
  </div>
</div>